@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

html{
	scroll-behavior: smooth;
	user-select: none;
}

*,
*:after,
*:before {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body{
	display: block;
	background: #121212;
	background-image: url("media/backimg.jpg");
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.upper{
	display: block;
	position: fixed;	
	width: 100%;
	height: 280px;
	top: 0;
}

.lefthalf{
	width: 50%;
	height: 100%;
	background-color: #2dcac2;
	float: left;
}

.lefthalf span{
	display: block;
	text-align: right;
	position: absolute;
	right: 50%;
        top: 205px;
	font-size: 3rem;
	font-weight: bold;
}

.righthalf{
	width: 50%;
	height: 100%;	
	float: right;
}

.righthalf span{
	display: block;
	text-align: left;
	position: absolute;
	left: 50%;
        top: 205px;
	font-size: 3rem;
	color: #2dcac2;
	font-weight: bold;
}

.midcontainer{
	position: absolute;
  	top: 310px;
	width: 100%;
	/*background: red;*/
	bottom: 125px;
	z-index: -10;
	overflow: scroll;
}

.scrolldiv{
	width: 96%;
	margin-left: 2%;
	color: #fff;
	font-size: 1.4rem;
}

#rad {
	border-collapse: collapse;
	width: 100%;
}

#rad td, #rad th {
	padding: 8px;
	font-weight: normal;
}

#rad th:first-child{
	width: 35%;
	text-align: right;
}

#rad td:first-child{
	width: 35%;
	text-align: right;
}

#rad th:nth-child(2){
	width: 10%;
	/*background: red;*/
}

#rad td:nth-child(2){
	width: 10%;
	/*background: red;*/
}

#rad th:nth-child(3){
	width: 55%;
}

#rad td:nth-child(3){
	width: 55%;
}

#rad img{
	width: 150%;
}

.bottomcontainer{
	display: block;
	position: fixed;	
	width: 100%;
	bottom: 0;
	height: auto;
	margin-top: 500px;
}

.together{
	width: 99%;
	margin-left: 0.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.together button{
	width: 33.3%;
	height: 65px;
	background-color: #333;
	border: none;
	padding: 0.5rem 0 0.5em 0;
	font-weight: bold;
	font-size: 1.2rem;
	outline: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.butImg{
	position: absolute;
	margin: 0;
	top: -45px;
	background-color: #2dcac2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 60px;
	border: 8px solid black;
}

.butImg::before{
	
}

.butImg::after{
	
}

.butImg img{
	width: 35px;
}

.butName{
	position: absolute;
	margin: 0;
	/*background-color: red;*/
	top: 38px;
	color: #2dcac2;
}






