@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

html{
	scroll-behavior: smooth;
	user-select: none;
}

*,
*:after,
*:before {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body{
	display: block;
	background: #121212;
	background-image: url("media/backimg.jpg");
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.uppercontainer{
	display: block;
	position: fixed;	
	width: 100%;
	top: 0;
        z-index: 5;
}

.backbtn, .homebtn{
	display: block;
	position: relative;
	height: 42px;
	background-color: #2dcac2;
	margin: 3%;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
}

.backbtn{	
	padding: 9px 16px 6px 16px;
}

.homebtn{
	position: absolute;
	top: calc(3% - 2px);
	right: 0;
	padding: 7px 16px 6px 16px;
}

.backbtn img{
	width: 28px;
	height: 24px;
}

.homebtn img{
	width: 28px;
}

.page{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}

.midcontainer{
	position: absolute;
  	top: 75px;
	width: 100%;
	/*background: red;*/
	bottom: 95px;
	z-index: -10;
	overflow: scroll;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-bottom: 3.5%;
}

.row:first-child{
	margin-top: 3px;
}

.row a{
	width: 16%;
	text-decoration: none;
	padding: 3px 0 3px 0;
	font-size: 1.8rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	border-radius: 3px;
	color: #fff;
	background-color: #1f1f1f;
	border-color: #2dcac2;
	box-shadow: -2px -2px 3px rgba(45,202,194),
		     3px 3px 6px rgba(0,0,0,1);
}

.row a:nth-child(n+1){
	margin-left: 2.5%;
}

.row a:first-child{
	margin-left: 5%;
}

.row a:nth-child(5){
	margin-right: 5%;
}

.last{
	visibility: hidden;
}

.bottomcontainer{
	display: block;
	position: fixed;	
	width: 100%;
	bottom: 0;
	/*background: #000;*/
	height: auto;
}

.together{
	width: 99%;
	margin-left: 0.5%;
	/*background: red;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.together button{
	width: 33.3%;
	border: none;
	padding: 0.5em 0;
	border-radius: 10px 10px 0 0;
	font-size: 1.2rem;
	border-color: #3f3f3f;
	border-width: 3px;
	border-left-style: ridge;
	border-top-style: ridge;
	border-right-style: groove;
	outline: none;
	cursor: pointer;
}

.but2{
	background-color: #2dcac2;
	font-weight: bold !important;
}

.but1, .but3{
	background-color: #121212;
	color: #fff;
	font-weight: normal;
}
















