
.page{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}

.midcontainer{
	position: absolute;
  	top: 75px;
	width: 100%;
	bottom: 75px;
	z-index: -10;
	overflow: scroll;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-bottom: 3.5%;
}

.row:first-child{
	margin-top: 3px;
}

.row a{
	width: 16%;
	text-decoration: none;
	padding: 3px 0 3px 0;
	font-size: 1.8rem;
	font-family: "Japanese Radicals", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", MS-Gothic, sans-serif;
	
	border-radius: 4px;
	color: #fff;
	background-color: #1f1f1f;
	border-color: #2dcac2;
	box-shadow: -2px -2px 3px rgba(45,202,194),
		     3px 3px 6px rgba(0,0,0,1);
}

.row a:nth-child(n+1){
	margin-left: 2.5%;
}

.row a:first-child{
	margin-left: 5%;
}

.row a:nth-child(5){
	margin-right: 5%;
}

.row:last-child{
	margin-bottom: 25px;
}

.last{
	visibility: hidden;
}

.bottomcontainer{
	display: block;
	position: fixed;	
	width: 100%;
	bottom: 0;
	height: auto;
	margin-top: 500px;
}

.together{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.together button{
	width: 33.3%;
	height: 60px;
	background-color: #292929;
	border: none;
	padding: 0.5rem 0 0.5em 0;
	font-weight: bold;
	font-size: 1.15rem;
	outline: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.together button:last-child{
	width: 33.4%;
}

.but1 .butImg,
.but3 .butImg{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	left: calc(50% - 45px);
	/*left: calc(50% - 52px);
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	color: #fff;
	background-color: #1f1f1f;
	border-color: #2dcac2;
	box-shadow: inset -2px -2px 3px rgba(45,202,194,0),
		    inset 3px 3px 6px rgba(0,0,0,1);*/
	transition: 0.2s;
}

.but2 .butImg{
	position: absolute;
	margin: 0;
	top: -38px;
	background-color: #2dcac2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 45%;
	border: 8px solid black;
	transition: 0.2s;
}

.but2 .butImg::before{
	content: '';
	position: absolute;
	top: 30px;
	left: -24px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 20px;
	box-shadow: 1px -10px 0 0 black;
}

.but2 .butImg::after{
	content: '';
	position: absolute;
	top: 30px;
	right: -24px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
	box-shadow: -1px -10px 0 0 black;	
}

.butImg img{
	width: 30px;
}

.lisimg{
	height: 26px !important;
	margin: 2px 0 2px 0 !important;
}

.butName{
	display: none;
}

.but2 .butName{
	display: block;
	position: absolute;
	margin: 0;
	top: 33px;
	color: #2dcac2;
}

.topbdr{
	position: absolute;
	height: 11px;
	background: black;
	width: 100%;
	left: 0;
	top: -11px;
	z-index: -1;
}














