@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

html{
	scroll-behavior: smooth;
	user-select: none;
}

:root {
  	--bdrbck1: #1f1f1f;
	--bck1: #1f1f1f;
	--txt1: #fff;
	--bxshad1:-2px -2px 3px rgba(45,202,194), 3px 3px 6px rgba(0,0,0,1);

  	--bdrbck2: #1f1f1f;
	--bck2: #1f1f1f;
	--txt2: #fff;
	--bxshad2:-2px -2px 3px rgba(45,202,194), 3px 3px 6px rgba(0,0,0,1);

  	--bdrbck3: #1f1f1f;
	--bck3: #1f1f1f;
	--txt3: #fff;
	--bxshad3:-2px -2px 3px rgba(45,202,194), 3px 3px 6px rgba(0,0,0,1);

  	--bdrbck4: #1f1f1f;
	--bck4: #1f1f1f;
	--txt4: #fff;
	--bxshad4:-2px -2px 3px rgba(45,202,194), 3px 3px 6px rgba(0,0,0,1);
}

*,
*:after,
*:before {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body{
	display: block;
	background: #000;
	background-image: url("media/backimg.jpg");
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.uppercontainer{
	display: block;
	position: fixed;	
	width: 100%;
	top: 0;
        z-index: 5;
}

.backbtn, .homebtn{
	display: block;
	position: relative;
	height: 42px;
	background-color: #2dcac2;
	margin: 3%;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
}

.backbtn{	
	padding: 9px 16px 6px 16px;
}

.homebtn{
	position: absolute;
	top: calc(3% - 2px);
	right: 0;
	padding: 7px 16px 6px 16px;
}

.backbtn img{
	width: 28px;
	height: 24px;
}

.homebtn img{
	width: 28px;
}

.midcontainer{
	position: absolute;
  	top: 75px;
	width: 100%;
	/*background: red;*/
	bottom: 95px;
	z-index: -10;
	overflow: scroll;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	color: #000;
}

.row:first-child{
	margin-top: 3px;
}

.row:last-child{
	margin-bottom: -3.5%;	
}

.row a{
	position: relative;
	width: auto;
	text-decoration: none;
	font-weight: bold;
	padding: 15px 50px 15px 55px;
	font-size: 1.2rem;
	margin-left: -5%;
	margin-bottom: 3%;
	border-radius: 10px 0 0 10px;
}

.row a:before{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	left: 100%;
	top: 0;
	padding: -10%;
	border: 41px solid transparent;
	border-right: 0px;
	border-left: 23px;
	border-left-style: solid;
}

.row #a1{
	color: var(--txt1);
	background-color: var(--bck1);
	box-shadow: var(--bxshad1);
}

.row #a1:before{
	border-left-color: var(--bdrbck1);
}

.row #a2{
	color: var(--txt2);
	background-color: var(--bck2);
	box-shadow: var(--bxshad2);
}

.row #a2:before{
	border-left-color: var(--bdrbck2);
}

.row #a3{
	color: var(--txt3);
	background-color: var(--bck3);
	box-shadow: var(--bxshad3);
}

.row #a3:before{
	border-left-color: var(--bdrbck3);
}

.row #a4{
	color: var(--txt4);
	background-color: var(--bck4);
	box-shadow: var(--bxshad4);
}

.row #a4:before{
	border-left-color: var(--bdrbck4);
}

strong{
	font-weight: normal !important;
}

.bottomcontainer{
	display: block;
	position: fixed;	
	width: 100%;
	bottom: 0;
	height: auto;
	margin-top: 500px;
}

.together{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.together button{
	width: 33.3%;
	height: 60px;
	background-color: #292929;
	border: none;
	padding: 0.5rem 0 0.5em 0;
	font-weight: bold;
	font-size: 1.15rem;
	outline: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.together button:last-child{
	width: 33.4%;
}

.but1 .butImg,
.but3 .butImg{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	left: calc(50% - 45px);
	/*left: calc(50% - 52px);
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	color: #fff;
	background-color: #1f1f1f;
	border-color: #2dcac2;
	box-shadow: inset -2px -2px 3px rgba(45,202,194,0),
		    inset 3px 3px 6px rgba(0,0,0,1);*/
	transition: 0.2s;
}

.but2 .butImg{
	position: absolute;
	margin: 0;
	top: -38px;
	background-color: #2dcac2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 45%;
	border: 8px solid black;
	transition: 0.2s;
}

.but2 .butImg::before{
	content: '';
	position: absolute;
	top: 30px;
	left: -24px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 20px;
	box-shadow: 1px -10px 0 0 black;
}

.but2 .butImg::after{
	content: '';
	position: absolute;
	top: 30px;
	right: -24px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
	box-shadow: -1px -10px 0 0 black;	
}

.butImg img{
	width: 30px;
}

.lisimg{
	height: 26px !important;
	margin: 2px 0 2px 0 !important;
}

.butName{
	display: none;
}

.but2 .butName{
	display: block;
	position: absolute;
	margin: 0;
	top: 33px;
	color: #2dcac2;
}

.topbdr{
	position: absolute;
	height: 10px;
	background: black;
	width: 100%;
	left: 0;
	top: -10px;
	z-index: -1;
}

