@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

html{
        scroll-behavior: smooth;
        user-select: none;
}

*,
*:after,
*:before {
        font-family: 'Merriweather', serif;
        font-weight: 700;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
}



@media (prefers-color-scheme: light) {

body {
        background: #efefef;
        color: #333;
  }

}

@media (prefers-color-scheme: dark) {

body {
        background: #111;
        color: #FFF;
  }

}





body.lightBackground {
        display: block;
        background-color: #efefef;
}

body.darkBackground {
        background-color: #111;
}


.optionsContainer{
	position: relative;
	display: flex;
	flex-wrap: wrap;
        margin-top: 0.6rem;
	padding-top: 0.7rem;
	padding-bottom: 0.5rem;
	width: 50%;
	background-color: #333;
	border-radius: 0 13px 13px 0;
	margin-left: -45%;
	transition: 0.5s;
}

.optionsContainer:hover{	
	margin-left: 0%;
}

.switch {
        margin-left: 0.8rem;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
}

.switch input { 
        opacity: 0;
        width: 0;
        height: 0;
}

.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7F7F7F;
        -webkit-transition: .4s;
        transition: .4s;
}

.slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #eee;
        -webkit-transition: .4s;
        transition: .4s;
}

input:checked + .slider {
        background-color: #7F7F7F;
}

input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
        background-color: #111;
}

.slider.round {
        border-radius: 20px;
}

.slider.round:before {
        border-radius: 50%;
}

#checkAuto{
        width: 26px;
        height: 26px;
        margin-top: calc(0rem - 1px);
        margin-left: 0.2rem;
	margin-right: 0.5rem;
        border: none;
        outline: none;
        background-color: inherit;
        cursor: pointer;
}

#autoImg{
        height: 26px;
}

#loginPage{
	margin-left: 0.6rem;
}

#gotoSheet{
	margin-left: 1.2rem;
}

#logout{
        cursor: pointer;
        height: 24px;
	width: 30px;
        -webkit-filter: drop-shadow(0.5px 0.5px 0 rgba(117,117,117,1));
        filter: drop-shadow(0.5px 0.5px 0 rgba(117,117,117,1));
}

#goSheet{
        cursor: pointer;
        height: 24px;
        -webkit-filter: drop-shadow(0.5px 0.5px 0 rgba(117,117,117,1));
        filter: drop-shadow(0.5px 0.5px 0 rgba(117,117,117,1));
}

.rightArr{
	position: absolute;
	margin-left: calc(100% - 1.5rem);
	/*background-color: red;*/
	height: 24px;
	padding-left: 0.55rem;
}

#takeOut{
	margin-top: 3px;
        cursor: pointer;
        height: 18px;
	width: 10px;
        -webkit-filter: drop-shadow(0.5px 0px 0 rgba(117,117,117,1));
        filter: drop-shadow(0.5px 0px 0 rgba(117,117,117,1));
}


.buttoncontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 0.3rem;
}

.maindiv{
        position: relative;
        display: block;
        width: 30%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.6rem 0.5rem 0.6rem 0.5rem;
}

.buttoneffect{
        position: relative;
        height: 4rem;
        border-radius: 10px 10px 10px 10px;
        align-items: center;
        text-align: center;
}

.buttoneffect:hover {
        cursor: pointer;
        transform: scale(0.95);
}

.effect{
        display: grid;
        color: #2dcac2;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #121212;
        position: absolute;
        display: block;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        text-align: center;
        border-radius: 9px 9px 9px 9px;
        z-index: 1;
        border: 1.5px solid #555;
        font-size: 1rem;
        box-shadow: 0 0 5px 0px #000000;
}

.effect::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        height: 45%;
        border-radius: 7px 7px 3px 3px;
        background-color: #323232;
        z-index: -1;
}

.effect:hover {
        cursor: pointer;
}

.htext{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
}



#overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
        z-index: 5;
}

#overlay.active {
        opacity: 1;
        pointer-events: all;
}



.modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: #232323;
        border: 3px ridge;
        border-color: rgba(0,154,217);
        /*border-radius: 12px 12px 0 0;*/
        width: 500px;
        max-width: 80%;
}

.modal.active {
        transform: translate(-50%, -50%) scale(1);
}

.modal-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #eee;
}

.modal-header .title {
        background: -webkit-linear-gradient(#2dcac2, #2dcac2,white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0.5rem;
        font-size: 1.25rem;
        font-weight: 700;
}

.modal-header .close-button {
        cursor: pointer;
         border: none;
        outline: none;
        background: none;
        font-size: 1.5rem;
        color: #eee;
        /*margin-right: 0.5rem;*/
        padding: 0 0.5rem 0 0.5rem;
}

.hline{        
        margin: 0% 12% 0% 5%;
        height: 3px;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(0,154,217,1), #55ff06 100%);
        box-shadow: 2px 2px 8px #000000;
}

.modal-body {
        padding: 10px 15px;
}


.forms{
        display: none;
}

.formContainer{
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: #333;
        width: 500px;
        max-width: 80%;
        padding: 10px 15px;
}

.contactForm{
        position: relative;
        display: block;
        padding: 3% 5% 0 5%;
        /*margin-top: 45%;*/
        /*padding-top: 24rem;*/
        background-color: #232323;
        /*margin-bottom: 5%;*/
        /*box-shadow: 0 50px 50px #000000;*/
        width: 100%;
        margin-left: 0%;
        /*border: 3px ridge;
        border-top: none;
        border-color: rgba(0,154,217,1);*/
        /*background-color: yellow;*/
}

.formBox{
        position: relative;
        /*display: flex;*/
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 0px;
}

.formBox .inputBox{
        position: relative;
        margin: 0 0 6% 0;
}

.one{
        width: 60%;
}

.two{
        /*height: 5rem;*/
        width: 100%;
}

.inputBox input{
        background-color: #232323;
        width: auto;
        padding: 5% 0;
        resize: none;
        font-size: 1rem;
        font-weight: 300;
        color: #eeeeee;
        border: none;
        border-bottom: 1px solid #777;
        outline: none;
}

.inputBox input[type="submit"]{
        text-align: center;
        position: relative;
        cursor: pointer;
        background: -webkit-linear-gradient(rgba(0,154,217), white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: #212121;
        max-width: 100%;
        padding: 8px 24px;
        border: 2px ridge;
        /*border-color: rgba(0,255,255);*/
        border-color: #ddd;
        font-weight: 600;
        border-radius: 2px;
}

input[type="submit"]:hover{
        transform: scale(0.95);
}

.inputBox textarea{
        width: calc(100% + 5px);
        height: 5rem;
        resize: none;
        margin-left: -5px;
        padding: 5px;
        background-color: #232323;
        color: #eee;
        outline: none;
        font-weight: normal;
        font-size: 1rem;
}



footer{
        position: absolute;
        width: 100%;
        bottom: 0.5rem;
        text-align: center;
        color: #7F7F7F;
        font-size: 0.8rem;
        font-weight: 500;
}

