.cont{
	position: absolute;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #fff;
	z-index: 1;
}

iframe{
	margin-left: calc(50% - 174px);
}

.cont2{
	position: absolute;
	top: 545px;
	height: 80px;
	width: 100%;
	background-color: #fff;
	z-index: 1;
}