@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

html{
	scroll-behavior: smooth;
	user-select: none;
}

*,
*:after,
*:before {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body{
	display: block;
	background: #000;
	background-image: url("media/backimg.jpg");
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.uppercontainer{
	display: block;
	position: fixed;	
	width: 100%;
	top: 0;
        z-index: 5;
}

.backbtn, .homebtn{
	display: block;
	position: relative;
	height: 42px;
	background-color: #2dcac2;
	margin: 3%;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
	transition: 0.2s;
}

.backbtn{	
	padding: 9px 16px 6px 16px;
}

.homebtn{
	position: absolute;
	top: calc(3% - 2px);
	right: 0;
	padding: 7px 16px 6px 16px;
}

.backbtn img{
	width: 28px;
	height: 24px;
}

.homebtn img{
	width: 28px;
}